[Desktop Entry]
Name=TTCut
Comment=Frame-accurate MPEG-2 video cutter
GenericName=Video Editor
Exec=/usr/local/src/TTCut-ng/ttcut.sh %f
Icon=/usr/local/src/TTCut-ng/ui/pixmaps/ttcut_logo_001.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;
MimeType=video/mpeg;video/x-mpeg;
Keywords=video;cut;edit;mpeg;dvb;
