#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_configure:
	qmake ttcut-ng.pro

override_dh_auto_build:
	# Compile translation files
	lrelease trans/ttcut-ng_de_DE.ts trans/ttcut-ng_en_US.ts
	$(MAKE)

override_dh_auto_install:
	install -D -m 0755 ttcut-ng $(CURDIR)/debian/ttcut-ng/usr/bin/ttcut-ng
	install -D -m 0755 tools/ttcut-demux $(CURDIR)/debian/ttcut-ng/usr/bin/ttcut-demux
	install -D -m 0644 ttcut.desktop $(CURDIR)/debian/ttcut-ng/usr/share/applications/ttcut-ng.desktop
	install -D -m 0644 ui/pixmaps/ttcut_logo_001.png $(CURDIR)/debian/ttcut-ng/usr/share/pixmaps/ttcut-ng.png
	# Install translation files
	install -d $(CURDIR)/debian/ttcut-ng/usr/share/ttcut-ng/trans
	install -D -m 0644 trans/*.qm $(CURDIR)/debian/ttcut-ng/usr/share/ttcut-ng/trans/

override_dh_auto_clean:
	$(MAKE) clean || true
	rm -f Makefile
